In [1]:
import pandas as pd

In [2]:
##the 2d array is called a DataFrame

In [7]:
##manually making a DataFrame

df = pd.DataFrame(
    {
        "Name": [
            "Merlin of Ealdor",
            "Arthur Pendragon",
            "Uther Pendragon",
            "Gwynaiveieur",
            "Lancelot",
        ],
        "Age": [
            25,
            27,
            68,
            25,
            26
        ],
        "Alive?": [
            "alive",
            "dead",
            "dead",
            "dead",
            "dead"
        ]
    }

)

In [8]:
df

               Name  Age Alive?
0  Merlin of Ealdor   25  alive
1  Arthur Pendragon   27   dead
2   Uther Pendragon   68   dead
3      Gwynaiveieur   25   dead
4          Lancelot   26   dead

In [9]:
##when selecting a column, you make a pandas series

In [13]:
##df["Age"]

ages = pd.Series([25, 27, 68, 25, 26], name="Age")
ages

0    25
1    27
2    68
3    25
4    26
Name: Age, dtype: int64

In [15]:
df["Age"].max()
ages.max()

68

In [17]:
df.describe() ##only overview of NUMERICAL data

             Age
count   5.000000
mean   34.200000
std    18.912959
min    25.000000
25%    25.000000
50%    26.000000
75%    27.000000
max    68.000000